<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../static/css/search.css"/>
		<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css"/>
		<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
	</head>
	<body>
		<div id="empty-div"></div>
		<div id="title">
			<b>Search Result</b>
		</div>
		{% for item in results %}
		<div id="all-search-results">
			<span class="search-result">
				<span class="app-image">
					<image src={{item['icon']}} style="width:100%; height:100%;"/>
				</span>
				<span class="app-name">
					<b><a href={{item['url']}} class="app-name-link">{{item['name']}}</a></b>
				</span>
				<span class="app-category">
					{{item['catagory']}}
				</span>
				<span class="app-price">
					{{item['price']}}
				</span>
			</span>
		</div>
		{% endfor %}
	</body>
</html>