<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../static/css/search.css"/>
		<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css"/>
		<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
	</head>
	<body>
		<div id="empty-div"></div>
		<div id="title">
			<b id="title-b">Search Result</b>
		</div>
		<div id="empty-div" style="height:10px;"></div>
		{% for item in results %}
		<div id="all-search-results">
			<div class="search-result">
				<div class="app-image">
					<image src={{item['icon']}} style="width:80px; height:80px;"/>
				</div>
				<div class="app-name">
					<b><a href={{item['url']}} class="app-name-link">{{item['name']}}</a></b>
				</div>
				<div class="app-category">
					{{item['catagory']}}
				</div>
				<div class="app-price">
					{{item['price']}}
				</div>
			</div>
			
		</div>
		
		{% endfor %}
	</body>
</html>